<div class='card mx-auto' style='width: 18rem; margin: 1rem;'>
  <div class='card-body'>
    <h5 class='card-title'>{{ @posts.title }}</h5>
    <p class='card-text'>{{ @posts.body }}</p>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>Owner: {{ @posts.owner.username }}</li>
  </ul>
</div>